:root{
    --grey: #bebcbb;
    --blue: #161c3b;
    --light-blue: #00439c;
}
.ms_menu{
    position: absolute;
    width: 100%;
}
/* ..........Prima Sezione........ */
.ms_jumbotron{
    margin-top: 80px;
    height: calc(80vh - 80px);
}

.box_text{
    height: calc(80vh - 80px);
    position: relative;
}
.box_text_jumbo{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* ........Terza sezione...... */
.box_card_small{
    display: flex;
    flex-wrap: wrap;
}

.card_small{
    margin: 3px;
    width: calc(100% / 3 - 6px);
    opacity: 0.5;
}

.card_small:hover{
    opacity: 1;
}
/* .........Settima sezione..... */
.ms_seventh_section{
    background-color: #bebcbb;
}

/* ......Nona sezione...... */
.ms_ninth_section{
    background-color: #161c3b;
}

/* ........FOOTER......... */
footer{
    background-color: #00439c;
}

.logo_footer{
    width: 1rem;
}

.globe_footer{
    display: flex;
    align-items: center;
}
.text_footer{
    font-size: 10px;
}
/* ............................. */

@media all and (min-width:768px) {
    .card_small{
        width: calc(100% / 5 - 6px);
    }
}


